#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
#about > h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
  color: var(--primary);
}
#about .main-content {
  display: flex;
  text-align: justify;
  gap: 1rem;
  /* height: 100%; */
}

#about section {
  /* padding-top: 5rem; */
  display: flex;
  align-items: center;
  min-height: unset;
  justify-content: center;
}

#about .main-content p::first-letter {
  font-size: 3rem;
  float: left;
}

.main-content picture {
  float: left;
  width: 40%;
  flex-shrink: 0;
  margin-right: 1rem;
  min-width: 360px;
}

.main-content picture img {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media screen and (max-width: 800px) {
  #about section:first-child {
    padding-top: 1rem;
  }
  #about .main-content {
    flex-direction: column;
  }
  #about picture {
    width: 100%;
  }
}
