.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  min-height: unset !important;
  margin-top: 1rem;
  padding-bottom: 1rem;
}

.gallery > * {
  flex-grow: 1;
  max-width: 305px;
}
