.logo-card {
  padding: 0.25rem;
  border: solid var(--border) 1px;
  width: 20%;
  min-width: 230px;
  align-self: flex-start;
  cursor: pointer;
  transition: all 0.3s ease;
  align-self: stretch;
  border-radius: 1rem;
  padding: 0.5rem;
  background: var(--secondary);
}

.logo-card img,
.logo-card video {
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;

  object-fit: contain;
  width: 100%;
}

.logo-card #video-container {
  position: relative;
}
.logo-card video {
  border-radius: 0;
  position: absolute;
  inset: 0;
  transform: translateY(50%);
  display: none;
}
.logo-card:hover {
  border-color: var(--primary);
  box-shadow: 0px 1px 10px var(--primary);
  scale: 1.01;
}
