.hamburger-menu {
  display: none;
  padding: unset;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: transparent;
  height: 32px;
  width: 32px;
  border: none;
  cursor: pointer;
}

.hamburger-menu > * {
  width: 100%;
  height: 2px;
  background-color: black;
}

@media screen and (min-width: 700px) {
  .hamburger-menu {
    display: block;
  }
}
