header {
  width: 100dvw;
  /* background: rgb(var(--primaryRGB), 0.7); */
  transform: translateX(-50%);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

nav {
  padding: 1.25rem 3rem;
  display: flex;
  font-weight: bold;
  align-items: center;
  width: var(--max-screen);
  background-color: transparent;
}

ul#menu {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  list-style: none;
}

nav #logo,
nav span {
  font-family: Arial;
  font-size: 2.5rem;
  margin-right: auto;
}

nav #logo span {
  color: var(--primary);
}

nav nav {
  display: flex;
  gap: 3rem;
}

nav a.nav-links {
  font-size: 1rem;
  position: relative;
  display: flex;
  align-items: center;
}

/* nav .search-bar {
  flex-shrink: 0;
  margin-left: auto;
  display: flex;
  background-color: white;
  width: clamp(315px, 25%, 1366px);
  border-radius: 0.25rem;
  overflow: hidden;
  border: solid 1px var(--primary);
}
nav .search-bar:focus-within {
  border-color: var(--primary);
}
nav input {
  padding: 0.25rem 0.5rem;
  flex: 1;
  caret-color: var(--primary);
}

nav .search-bar button {
  height: 100%;
  border-radius: unset;
  flex-shrink: 0;
} */

a.nav-links::before {
  transition: all 400ms ease;
  content: "";
  position: absolute;
  background: var(--primary);
  bottom: 0;
  width: 0%;
  height: 2px;
}

a.nav-links:hover::before,
a.nav-links.active::before {
  width: 100%;
}
/* nav .nav-links:hover {
  color: var(--primary);
} */

@media screen and (max-width: 700px) {
  nav {
    justify-content: space-around;
  }
  ul#menu {
    transition: all 300ms ease-in-out;
    margin-top: 5.9rem;
    /* background: rgb(var(--primaryRGB), 0.7); */
    backdrop-filter: blur(10px);
    padding: 1rem 0;
    width: var(--max-screen);
    position: absolute;
    top: 0;
    opacity: 0;
    pointer-events: none;
    flex-direction: column;
    transform: translateY(-30px);
  }
  ul#menu.show-menu {
    pointer-events: unset;
    opacity: 1;
    transform: translateY(0);
  }
}
